[Unit]
Description=PriceParser app (Docker Compose)
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/admin2/Average_price_parser
ExecStart=/usr/bin/docker compose --env-file /home/admin2/Average_price_parser/.env -f /home/admin2/Average_price_parser/docker-compose.prod.yml up -d
ExecStop=/usr/bin/docker compose -f /home/admin2/Average_price_parser/docker-compose.prod.yml down
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

