[Unit]
Description=iLearn app (Docker Compose)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/admin1/I-learn

ExecStart=/usr/bin/docker compose --env-file /home/admin1/I-learn/.env -f /home/admin1/I-learn/docker-compose.prod.yml up -d --remove-orphans
ExecStop=/usr/bin/docker compose -f /home/admin1/I-learn/docker-compose.prod.yml down
RemainAfterExit=yes
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
