{% extends 'price_parser/base.html' %}
{% block title %}Каталог{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h5>Каталог товаров</h5>
  </div>
  <div class="card-body">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>Название</th>
          <th>Ед. изм.</th>
          <th>Фасовка</th>
          <th>Средняя цена</th>
        </tr>
      </thead>
      <tbody>
        {% for item in products_info %}
        <tr>
          <td><a href="{% url 'price_parser:product_detail' item.product.id %}">{{ item.product.name }}</a></td>
          <td>{{ item.unit }}</td>
          <td>{{ item.pack_size }}</td>
          <td>{{ item.avg_price_pack|floatformat:2 }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">Нет товаров</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
